@font-face {
    font-family: 'Passion One';
    src: url(../src/fonts/PassionOne-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'The Girl Next Door';
    src: url(../src/fonts/TheGirlNextDoor-Regular.ttf) format("truetype");
    font-weight: 400;
}

:root {  
    /* font family */
    --ff-quotes: 'Passion One', 'cursive';
    --ff-authors: 'The Girl Next Door', 'cursive';

    /* color */
    --clr-dark-gray: hsl(0, 0%, 13%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* set-up */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--clr-dark-gray);
}

/* components */
.quote__bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70rem;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem hsla(0, 0%, 0%, 0.35);
}

.quote__container {
    position: relative;
    width: 60%;
    height: 40%;
    padding: 4rem 5rem 3rem;
    background-color: hsla(0, 0%, 100%, 0.9);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem hsla(0, 0%, 0%, 0.35);
}

@media(max-width: 50em) {
    .quote__bg-container {
        width: 35rem;
        height: 45rem;
    }

    .quote__container {
        width: 80%;
        height: 60%;
        padding: 4rem 4rem 3rem;
    }
}

@supports(backdrop-filter: blur(1.5rem)) {
    .quote__container {
        background: hsla(0, 0%, 100%, 0.5);
        backdrop-filter: blur(1.5rem);
    }
}

.quote__container::before,
.quote__container::after {
    content: '"';
    position: absolute;
    height: 10rem;
    font-family: var(--ff-quotes);
    font-size: 22rem;
    color: var(--clr-white);
}

.quote__container::before {
    top: -4rem;
    left: -2rem;
    transform: rotate(180deg);
}

.quote__container::after {
    bottom: -4rem;
    right: -2rem;
}

.quote__text {
    display: flex;
    align-items: center;
    height: 7rem;
    font-family: var(--ff-quotes);
    font-size: 1.6rem;
    color: var(--clr-dark-gray);
    line-height: 1.5;
}

.quote__author {
    font-family: var(--ff-authors);
    font-size: 1.6rem;
    color: var(--clr-black);
    text-align: right;
}

@media(max-width: 50em) {
    .quote__text {
        height: 13rem;
    }

    .quote__author {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.quote__button {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;

    font-family: var(--ff-quotes);
    font-size: 1.3rem;
    color: var(--clr-dark-gray);
    letter-spacing: 0.05rem;
    text-align: center;

    background-color: transparent;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 -0.05rem 0.3rem hsla(0, 0%, 20%, 0.75);
    cursor: pointer;
}

.twitter-share-button svg {
    margin-top: 1rem;
}

.twitter-share-button > svg {
    transform: scale(1.2);
}

.twitter-share-button > svg:hover > path {
    fill: #1DA1F2;
}
