/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* set-up */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* font-family: var(--ff);
    font-size: var(--fs-normal);
    font-weight: 500;
    color: var(--clr-dark-blue); */
    background-color: var(--clr-white);
}

